@import "compass_twitter_bootstrap";
//@import url("http://polymaps.org/style.css");

.container-fluid {
  padding:0;
}

body {
  overflow: hidden;
}

#title {
  color: white;
  z-index: 1000;
  position: absolute;
  width: 100%;
  padding-left: 1em;


  background: linear-gradient(bottom, rgba(24,24,24,0.85) 37%, rgba(30,30,30,0.85) 69%);
  background: -o-linear-gradient(bottom, rgba(24,24,24,0.85) 37%, rgba(30,30,30,0.85) 69%);
  background: -moz-linear-gradient(bottom, rgba(24,24,24,0.85) 37%, rgba(30,30,30,0.85) 69%);
  background: -webkit-linear-gradient(bottom, rgba(24,24,24,0.85) 37%, rgba(30,30,30,0.85) 69%);
  background: -ms-linear-gradient(bottom, rgba(24,24,24,0.85) 37%, rgba(30,30,30,0.85) 69%);

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgba(24,24,24,0.85)),
    color-stop(0.69, rgba(30,30,30,0.85))
  );

  -moz-box-shadow: 1px 1px 1px #888;
-webkit-box-shadow: 1px 1px 1px #888;
box-shadow: 1px 1px 1px #888;

}

div#map {
  position: absolute;
  background: #eee;
  height: 100%;
  width:100%;
  padding:0;
  margin-bottom: 100px;
}


footer {
    height: 43px;
    color: #DDD;
    background: rgba(54,67,147,0.9);
    padding: 5px 0 5px 0;
    border-top: 1px solid #000;    
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}


.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

#slider {
  margin:1em 2em;
}

a.schoolNet {
  background-color: #AAA;
  display: block;
  width: 190px;
  height: 55px;
  background: url(../images/schoolnet_logo.png) 0 -446px no-repeat;
}
